.scroll-table {
    height: 26.2rem;
    border: thin solid rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.scroll-table::-webkit-scrollbar {
    display: none; /* Chrome */
}

.wallet-table {
    margin-top: 10px;
    padding: 0;
}

.wallet-table li {
    list-style: none;
    border: 1px solid #2f3a56;
    margin: 5px 0;
}

.wallet-table li:nth-child(odd) {
    background: rgba(71, 88, 74, 0.1);
}

.wallet-table li a {
    display: block;
    padding: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
}

.wallet-table li a:hover,
.wallet-table li a:focus {
    background: rgba(19, 26, 51, 0.2);
}

.history-table {
    width: 100%;
    color: #fff;
}

.history-table th,
.history-table td {
    padding: 0.5rem 0;
    text-align: center;
}

.history-table thead tr {
    background-color: rgba(14, 22, 45, 0.5);
    position: sticky;
    top: 0;
}

.history-table tbody tr {
    background-color: rgba(14, 22, 45, 0.2);
}

.history-table tr:hover {
    background-color: rgba(14, 22, 45, 0.4);
}

.marketcap-table thead tr {
    position: relative;
}

.marketcap-table thead th {
    padding: 1.5rem 0.5rem;
}

.marketcap-table tbody tr td:last-child {
    max-width: 100px;
}

.marketcap-table canvas {
    display: inline !important;
}

