.nav-bar {
    display: flex;
    flex-flow: nowrap;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    margin: 16px 0;
    overflow: hidden;
}

.nav-bar-left {
    width: 40%;
    margin: 0px 1%;
}

.nav-bar-left input {
    background: rgba(255, 255, 255, 0.7);
    width: 60%;
    height: 36px;
    border: thin solid rgba(255, 255, 255, 0.2);
    border-radius: 0.25rem;
    padding-left: 1rem;
}

.nav-bar-right {
    width: 60%;
    display: block;
    list-style: none;
}

.nav-bar-right ul {
    float: right;
}

.nav-bar-right li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin: 0 10px;
    padding: 0 15px;
}

.nav-bar-right li a {
    color: #fff;
    text-decoration: none;
    transition: all 0.4s ease;
    padding: 9px 0px;
    display: inline-block;
    font-size: 11px;
}

.nav-bar-right li a:hover {
    color: #f7614e;
    border-bottom: 1px solid #f7614e;
}

.nav-bar-right li.active a {
    color: #f7614e;
    border-bottom: 1px solid #f7614e;
}

.nav-mobile-content {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    transform: translateX(100%);
    transition: transform linear 0.2s, opacity linear 0.2s;
}

.nav-mobile-content ul {
    margin-top: 5rem;
    padding-left: 0;
    text-align: center;
    list-style-type: none;
}

.nav-mobile-content li a {
    color: #302b63;
    font-size: 3em;
    font-weight: 500;
    text-decoration: none;
}

.nav-mobile-content li a:hover {
    color: rgba(48, 43, 99, 0.9);
}

.nav-mobile-button {
    display: none;
}

.nav-mobile-button img {
    width: 35px;
    position: absolute;
    right: 0.3rem;
}

#nav-mobile-input {
    display: none;
}

#nav-mobile-input:checked ~ .nav-mobile-content {
    transform: translateX(0);
}

@media screen and (max-width: 80em) {
    .nav-bar-right {
        display: none;
    }

    .nav-mobile-button {
        display: block;
    }
}

.nav-bar-red {
    background: #f7614e;
}

.nav-bar-red a {
    color: #fff !important;
}


.nav-bar-green {
    background: #49c279;
}

.nav-bar-green a {
    color: #fff !important;
}