<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Kripto MarketCap</title>
    <link rel="icon" href="/public/images/logo-color.png">
    <link rel="icon" href="/public/images/logo-color.png">
    <link rel='stylesheet' href="/public/css/src/style.css" type="text/css">
    <link rel='stylesheet' href="/public/css/src/navbar.css" type="text/css">
    <link rel='stylesheet' href="/public/css/src/ui.css" type="text/css">
    <link rel='stylesheet' href="/public/css/src/frame.css" type="text/css">
    <link rel='stylesheet' href="/public/css/src/form.css" type="text/css">
    <link rel='stylesheet' href="/public/css/src/table.css" type="text/css">
    <link rel='stylesheet' href="/public/css/src/chart.css" type="text/css">
    <link rel='stylesheet' href="/public/css/src/button.css" type="text/css">
    <link rel='stylesheet' href="/public/css/src/icons.css" type="text/css">
    <link rel='stylesheet' href="/bootstrap/css/bootstrap.min.css" type="text/css">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:image" content="images/preview/preview-marketcap-new.png"/>
    <meta property="og:title" content="Kripto MarketCap"/>
    <meta property="og:description" content="Trading Future"/>
    <meta property="og:url" content="https://fanglee2003.github.io/"/>
</head>
<style>
    ul.mcw-news a.mcw-n-title {
        color: white;
    }

    h1 {
        margin: 3rem 0 2rem;
    }
</style>
<body>
<div id="loading">
    <img id="loading-image" src="/public/images/loading.gif" alt="Loading..."/>
</div>

<nav class="nav-bar">
    <div class="nav-bar-left">
        <div class="logo">
            <a href="index.html">
                <img src="/public/images/logo.png" alt="">
            </a>

            <input type="text" placeholder="Search...">
        </div>
    </div>
    <div class="nav-bar-right">
        <ul>
            <li><a href="index.html">Market cap</a></li>
            <li><a href="news.html">News</a></li>
            <li><a href="account.html">Account</a></li>
            <li><a href="register.html">Register</a></li>
            <li><a href="login.html">Login</a></li>
        </ul>
    </div>
    <div class="nav-mobile">
        <label class="nav-mobile-button" for="nav-mobile-input">
            <img src="/public/images/open.png" alt="open">
        </label>

        <input type="checkbox" id="nav-mobile-input">

        <div class="nav-mobile-content">
            <label class="nav-mobile-button" for="nav-mobile-input">
                <img src="./images/close.png" alt="close" style="top: 1rem;">
            </label>
            <ul>
                <li><a href="index.html">Market cap</a></li>
                <li><a href="news.html">News</a></li>
                <li><a href="account.html">Account</a></li>
                <li><a href="register.html">Register</a></li>
                <li><a href="login.html">Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Main Content -->
<div class="flex-container" style="margin-top: 2rem">
    <div class="col-2-3 text-center fadeInDown">
        <h1><b>Total Market Cap: <span class="green-text">$1001,056,234,480</span></b></h1>
        <div id="candle-chart"></div>

        <h1><b><span class="green-text">Top 100</span> Cryptocurrencies</b></h1>
        <script src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js">
            {
                "width": "100%",
                "height": "1000",
                "defaultColumn": "overview",
                "screener_type": "crypto_mkt",
                "displayCurrency": "USD",
                "colorTheme": "dark",
                "locale": "en"
            }
        </script>
    </div>
</div>

<script src="/bootstrap/js/bootstrap.bundle.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>

<script src="/public/js/jquery.js"></script>
<script src="/public/js/popper.min.js"></script>

<script src="/public/js/Chart.min.js"></script>
<script src="/public/js/line-chart.js"></script>

<script src="https://s3.tradingview.com/tv.js"></script>
<script src="/public/js/candle-chart.js"></script>

<script src="/public/js/loading.js"></script>

</body>

</html>